:root {
	--pink: hsl(322, 100%, 66%);
	--light-pink: hsl(321, 100%, 78%);
	--light-red: hsl(0, 100%, 63%);
	--very-dark-cyan: hsl(192, 100%, 9%);
	--very-pale-blue: hsl(207, 100%, 98%);
	--section-padding: 100px;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: var(--very-dark-cyan);
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	transition: 0.5s;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/* Small */
@media (max-width: 767px) {
	.container {
		width: 90%;
	}
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
.content {
	margin-top: 30px;
}
.content p {
	line-height: 1.4;
	margin-bottom: 60px;
}
@media (min-width: 768px) {
	.content p {
		width: 40%;
		margin: auto;
		margin-bottom: auto;
		margin-bottom: 50px;
		font-size: 15px;
	}
}
.content a {
	color: white;
	background-color: var(--pink);
	padding: 10px 35px;
	border-radius: 30px;
	box-shadow: 0px 2px 5px #ababab;
	font-size: 15px;
}
.content a:hover {
	background-color: var(--light-pink);
}
@media (min-width: 768px) {
	.content a {
		padding: 15px 80px;
	}
}
.container .image {
	margin-top: 70px;
}
.container .image img {
	width: 100%;
}
@media (min-width: 768px) {
	.container .image {
		width: 100%;
		margin: auto;
		margin-top: 70px;
	}
	.container .image img {
		width: 80%;
	}
}
/* Header */
header {
	padding-top: 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
}
.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .logo img {
	height: 21px;
	width: auto;
}
.header .top-btn a {
	border: 1px solid var(--pink);
	color: var(--pink);
	border-radius: 30px;
	padding: 5px 20px;
	font-size: 13px;
}
.header .top-btn a:hover {
	color: var(--light-pink);
	border-color: var(--light-pink);
}
/* Landing */
.landing {
	padding-top: var(--section-padding);
	text-align: center;
}
.landing .stats {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 50px;
}
@media (min-width: 767px) {
	.landing .stats {
		flex-direction: row;
		justify-content: space-evenly;
	}
}
.landing .stats .stat {
	margin-top: 90px;
}
.landing .stats h2 {
	position: relative;
	font-size: 70px;
	margin-top: 60px;
	margin-bottom: 10px;
}
.stats h2:before {
	position: absolute;
	content: '';
	background-image: url(../images/icon-communities.svg);
	height: 40px;
	top: -40px;
	width: 47px;
}
.stats .stat:last-child h2:before {
	content: '';
	background-image: url(../images/icon-messages.svg);
}
.landing .stats p {
	font-size: 15px;
	color: #a7a7a7;
}
/* Main-Content */
.main-content {
	text-align: center;
	position: relative;
	background-color: #eef6ff;
	padding-top: 50px;
	padding-bottom: 60px;
}
.main-content.left {
	background-color: #fff;
}
/* Top SVG */
.custom-shape-divider-top-1650836523 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1650836523 svg {
	position: relative;
	display: block;
	width: calc(127% + 1.3px);
	height: 196px;
}

.custom-shape-divider-top-1650836523 .shape-fill {
	fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
	.custom-shape-divider-top-1650836523 svg {
		width: calc(116% + 1.3px);
		height: 118px;
	}
}
/* ######## */
/* Bottom SVG */
.custom-shape-divider-bottom-1650836538 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1650836538 svg {
	position: relative;
	display: block;
	width: calc(127% + 1.3px);
	height: 196px;
}

.custom-shape-divider-bottom-1650836538 .shape-fill {
	fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
	.custom-shape-divider-bottom-1650836538 svg {
		width: calc(116% + 1.3px);
		height: 118px;
	}
}
/* ########## */
.main-content .content .info {
	margin-bottom: 200px;
}
@media (min-width: 991px) {
	.main-content {
		margin-top: 100px;
	}
	.main-content .content .info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		text-align: left;
		align-items: center;
		margin-bottom: 50px;
	}
	.info .image {
		order: 2;
	}
	.left .info .image {
		order: 0;
	}
}
.info .text h1 {
	font-size: 25px;
	margin-top: 45px;
}
.info .text p {
	width: 100%;
	margin: auto;
	margin-left: 0px;
}
@media (min-width: 991px) {
	.info .text p {
		width: 90%;
	}
}
/* ##### */
.subscribe {
	padding-top: var(--section-padding);
	text-align: center;
}
.subscribe .content h1 {
	text-align: center;
	margin-bottom: 50px;
}
/* ####### */
/* SVG footer */
.custom-shape-divider-top-1650837697 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}
.custom-shape-divider-top-1650837697 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 90px;
	transform: rotateY(180deg);
}
.custom-shape-divider-top-1650837697 .shape-fill {
	fill: #ffffff;
}
/** For mobile devices **/
@media (max-width: 767px) {
	.custom-shape-divider-top-1650837697 svg {
		width: calc(138% + 1.3px);
		height: 105px;
	}
}
/* ### */
footer {
	padding-top: var(--section-padding);
	padding-bottom: 30px;
	color: var(--very-pale-blue);
	background-color: var(--very-dark-cyan);
	position: relative;
	margin-top: 50px;
}
@media (min-width: 767px) {
	footer .container {
		display: flex;
		text-align: left;
		justify-content: space-between;
	}
	footer .content {
		order: 2;
		flex-basis: 48%;
	}
	footer .content-2 {
		flex-basis: 48%;
	}
}
footer h1 {
	text-transform: uppercase;
}
footer .inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media (min-width: 767px) {
	footer .inputs {
		width: 100%;
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
	}
	footer .content > p {
		width: 100%;
		margin: 0;
	}
}
@media (min-width: 992px) {
	footer .inputs {
		flex-direction: row;
	}
	footer .inputs input {
		flex-basis: 60%;
	}
	footer .inputs a {
		flex-basis: 38%;
		text-align: center;
	}
}
footer input {
	border-radius: 5px;
	height: 37px;
	margin-top: 10px;
}
footer input[type='text'] {
	width: 100%;
}
:focus {
	outline: none;
}
.newsletter .inputs a {
	color: white;
	background-color: var(--pink);
	padding: 10px 35px;
	border-radius: 5px;
	font-size: 15px;
	margin-top: 10px;
	box-shadow: none;
}
footer .content-2 {
	margin-top: 50px;
}
footer .content-2 > img {
	width: 60%;
	margin-bottom: 20px;
}
.newsletter .contact {
	margin-top: 40px;
	margin-left: 30px;
}
.newsletter .contact p {
	margin-bottom: 20px;
	position: relative;
}
.newsletter .contact p::before {
	content: '';
	position: absolute;
	height: 18px;
	width: 18px;
	top: 2px;
	left: -30px;
}
.newsletter .contact p:first-child:before {
	background-image: url(../images/icon-phone.svg);
}
.newsletter .contact p:last-child:before {
	background-image: url(../images/icon-email.svg);
	height: 16px;
	width: 20.5px;
}
.newsletter .contact p a {
	color: white;
}
.newsletter .icons {
	margin-top: 30px;
}
.newsletter .icons li {
	display: inline;
}
.newsletter .icons a {
	color: white;
	margin-right: 15px;
	font-size: 30px;
}
